body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}

p {
    line-height: 1.5;

}
h1 {
    color: #66BFBF;
    font-size: 5.2rem;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Sacramento', cursive;

}

#EC {
    
        color: #66BFBF;
        font-size: 1.3rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;    
}

h2 {
    font-size: 2.5rem;
    color: #098888d2;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;

}

h3 {
    color: #3eb0b4;
    font-family: 'Montserrat', sans-serif;

}
.top-container

{
    background-color: #d5fdf6;
    position: relative;
    padding-top: 100px;
}


.top-cloud {

    position: absolute;
    top: 50px;
    right: 300px;

}


.bottom-cloud {

    position: absolute;
    bottom: 300px;
    left: 300px;
}


#dp {
    width: 250px;
    margin-top: 5%;
}

#hello {
    margin-bottom: 5px;

}
.bio {

    width: 80%;
    margin: 10px auto 15px auto;
}
.icons {
    width: 32%;
}

.footer-link {
    color: #11999E;
}

.skill-row {

    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.web-dev-img {

    float: left;
    margin-right: 30px;

}

.pentest-img {

    float: right;
    margin-left: 30px

}
.network-img {
    
    float: left;
    margin-right: 30px

    
}

.btn {
    background: #1bb8bd;
    background-image: -webkit-linear-gradient(top, #1bb8bd, #10a3a8);
    background-image: -moz-linear-gradient(top, #1bb8bd, #10a3a8);
    background-image: -ms-linear-gradient(top, #1bb8bd, #10a3a8);
    background-image: -o-linear-gradient(top, #1bb8bd, #10a3a8);
    background-image: linear-gradient(to bottom, #1bb8bd, #10a3a8);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #1bb8bd;
    background-image: -webkit-linear-gradient(top, #1bb8bd, #2fbdbd);
    background-image: -moz-linear-gradient(top, #1bb8bd, #2fbdbd);
    background-image: -ms-linear-gradient(top, #1bb8bd, #2fbdbd);
    background-image: -o-linear-gradient(top, #1bb8bd, #2fbdbd);
    background-image: linear-gradient(to bottom, #1bb8bd, #2fbdbd);
    text-decoration: none;
  }